h1, h2, h3, h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    color: #614051;
    text-align: center;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
.topnav {
    background-color:#614051;
    overflow: hidden;
    position: sticky;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #04aa6d;
    color: white;
}

body {
    background-color: lightgray;
}
a:link {
    color:blue
}
a:visited {
    color:crimson
}
a:hover {
    color:darkgreen
}
.chwork{
    margin-top: 80px;
    margin-bottom: 80px;
    margin-right: 200px;
    margin-left: 200px;
    border: 3px solid #614051;
    list-style-position: inside;
    text-align: center;
}